[submodule "RAG-Azure-Builder-src"]
	path = RAG-Azure-Builder-src
	url = https://github.com/Sertxito/RAG-Azure-Builder.git
	branch = main
[submodule "spec-kit-extension-rag-azure-builder"]
	path = spec-kit-extension-rag-azure-builder
	url = https://github.com/Sertxito/spec-kit-extension-rag-azure-builder.git
	branch = main
