---
import MobileMenuToggle from 'virtual:starlight/components/MobileMenuToggle';
import Navigation from '../layout/Navigation.astro';

const { hasSidebar } = Astro.locals.starlightRoute;
---

<div class="page sl-flex learning-page-frame">
  <Navigation />
  {
    hasSidebar && (
      <nav class="sidebar print:hidden" aria-label={Astro.locals.t('sidebarNav.accessibleLabel')}>
        <MobileMenuToggle />
        <div id="starlight__sidebar" class="sidebar-pane">
          <div class="sidebar-content sl-flex">
            <slot name="sidebar" />
          </div>
        </div>
      </nav>
    )
  }
  <div class="main-frame"><slot /></div>
</div>

<style>
  @layer starlight.core {
    .page {
      --site-header-height: 4.25rem;
      flex-direction: column;
      min-height: 100vh;
    }

    .sidebar-pane {
      visibility: var(--sl-sidebar-visibility, hidden);
      position: fixed;
      z-index: var(--sl-z-index-menu);
      inset-block: var(--site-header-height) 0;
      inset-inline-start: 0;
      width: 100%;
      background-color: var(--sl-color-black);
      overflow-y: auto;
    }

    :global([aria-expanded='true']) ~ .sidebar-pane {
      --sl-sidebar-visibility: visible;
    }

    .sidebar-content {
      height: 100%;
      min-height: max-content;
      padding: 1rem var(--sl-sidebar-pad-x) 0;
      flex-direction: column;
      gap: 1rem;
    }

    .main-frame {
      padding-top: var(--sl-mobile-toc-height);
      padding-inline-start: var(--sl-content-inline-start);
    }

    @media (min-width: 50rem) {
      .sidebar-pane {
        --sl-sidebar-visibility: visible;
        width: var(--sl-sidebar-width);
        background-color: var(--sl-color-bg-sidebar);
        border-inline-end: 1px solid var(--sl-color-hairline-shade);
      }

      .sidebar-content::after {
        content: '';
        padding-bottom: 1px;
      }
    }
  }
</style>
